<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>Application Properties</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" language="javascript" src="gifnoc/gifnoc.nocache.js"></script>
</head>

<body>
<script type="text/javascript" language="javascript">
    var Vars = {
        view:"ApplicationPropertyView"
    };
</script>

<div id="messages"></div>

<div id="main_content">
    <br/>

    <div id="ApplicationPropertyView-layout"></div>
</div>

<div id="footer_content">
</div>
</body>
</html>
